.dashboard-page {

    .main-dashboard {
        min-height: 80vh;
        // background-color: aqua;

    }

    .host-img {
        height: 34px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        margin: 10px;
    }
    
}