.explore-page {

    .filter-btns-container {
        flex-direction: row-reverse;
    }

    .filter-btn {
        cursor: pointer;
        right: 0;
        margin-top: 140px;
        margin-bottom: 20px;
        align-self: flex-end;
        padding: 12px;
        border-radius: 8px;
        background-color: transparent;
        box-shadow: 0px 0px 0px 1px $border;
        font-size: 0.8rem;
        font-weight: 700;
        border: none;
    }
}