.stay-details-page {
    margin-bottom: 400px;
    margin-top: 90px;
    font-size: 1rem;
    color:$secondary;

    h1 {
        letter-spacing: 0.5px;
        line-height: 1.875rem;
        font-size: 1.625em;
        padding-top: em(22px);
        font-family: manrope-semi-bold;
    }

    .stay-details-container{
        width: 100%;
        align-items: center;
        padding-top: em(10px);
    }
    
    
    .stay-review-details{
        align-items: center;
        gap: 5px;
        font-family: manrope-semi-bold;

        
        img{
            height: 38px;
            aspect-ratio: 0.4;
            align-items: center;
        }


        .num-of-reviews{
            text-decoration: underline;
        }

        .dot{
            padding-right: em(4px);
            padding-left: em(4px);
        }
        .reviews{
            text-decoration: underline;
        }
    }


    .details-img-container {
        width: 100%;
        padding-top: em(22px);
        display: grid;
        gap: 9px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 182px);
        grid-template-areas:
            "img1 img1 img2 img3"
            "img1 img1 img4 img5";

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }


        .img1 {
            grid-area: img1;
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
        }

        .img2 {
            grid-area: img2;
        }

        .img3 {
            grid-area: img3;
            border-top-right-radius: 12px;
        }

        .img4 {
            grid-area: img4;
        }

        .img5 {
            grid-area: img5;
            border-bottom-right-radius: 12px;
        }
    }

    .stay-display-info {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        padding-top: em(48px);
        padding-bottom: em(32px);
        border-bottom: 1px solid rgb(221, 221, 221);

        grid-template-areas:
            "info reserve";


        .air-cover{
            padding-top: em(32px);
            padding-bottom: em(32px);
            border-bottom: 1px solid rgb(221, 221, 221);

            img{
                height: rem(32px);
            }

            p{
                padding-top: em(14px);
                margin: 0;
                // line-height: 20px;
            }
        }

        .stay-description{
            padding-top: em(32px);
            padding-bottom: em(32px);
            border-bottom: 1px solid rgb(221, 221, 221);
            p{
                margin: 0;
            }
        }

        .stay-display-order {
            grid-area: reserve;
        }

        .dot {
            // font-size: 2rem;
            line-height: 1;
            margin: 0 5px;
        }

    }

   




}