.stay-details-page {
    margin-bottom: 165px;
    margin-top: rem(105px);
    font-size: 1rem;
    color: $secondary;

    .stay-details-container {
        width: 100%;
        align-items: center;
        padding-top: em(10px);
        justify-content: space-between;
        font-family: 'cereal-medium';
        font-size: rem(15px);

        .stay-review-details {
            align-items: center;
            gap: rem(5px);

            img {
                height: rem(38px);
                aspect-ratio: 0.4;
                align-items: center;
            }

            .num-of-reviews {
                text-decoration: underline;
            }

            .dot {
                padding-right: em(4px);
                padding-left: em(4px);
            }

            .reviews {
                text-decoration: underline;
            }
        }

        .actions-container {
            span {
                text-decoration: underline;
            }

            .action-container {
                align-items: center;
                padding: rem(8px);
                border-radius: rem(8px);
                cursor: pointer;

                img {
                    padding-right: rem(5px);
                }

                .share-img {
                    height: 20px;
                    width: 22px;
                }

                .save-img {
                    height: 17px;
                    width: 22px;
                }

                .back-img{
                    display: none;
                }

                &:hover {
                    background-color: $footer;
                }
            }
        }
    }

    .details-img-container {
        width: 100%;
        padding-top: em(22px);
        display: grid;
        gap: 9px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 240px);

        grid-template-areas:
            "img1 img1 img2 img3"
            "img1 img1 img4 img5";

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
        }

        .img1 {
            grid-area: img1;
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
        }

        .img2 {
            grid-area: img2;
        }

        .img3 {
            grid-area: img3;
            border-top-right-radius: 12px;
        }

        .img4 {
            grid-area: img4;
        }

        .img5 {
            grid-area: img5;
            border-bottom-right-radius: 12px;
        }
    }

    .stay-display-info {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        padding-top: 2.5em;
        padding-bottom: em(32px);
        border-bottom: 1px solid $borderClr;

        grid-template-areas:
            "info reserve";

        .stay-description {
            padding-top: em(32px);
            padding-bottom: em(32px);
            border-bottom: 1px solid $borderClr;

            p {
                margin: 0;
                font-size: rem(17px);
                letter-spacing:rem(0.3px);
                line-height: rem(24px)
            }

            .stay-info-txt p {

                margin-bottom: 10px;
            }
        }

        .stay-display-order {
            grid-area: reserve;
        }

        .dot {
            // font-size: 2rem;
            line-height: 1;
            margin: 0 5px;
        }

    }

    @include for-mobile-layout {
        margin-top:0;
        grid-column: 1 / -1;
        
        .details-img-container{
            display:none;
        }
        .carousel-component{
            order: -1;
            grid-column: 1 / -1;
            .preview-img {
             
            
                height:300px;
                border-radius:0 ;
            }
        }

        h2{
            margin-top:20px;
        }

        .actions-container{
            position: absolute;
            left: 10px;
            top: 9px;
            z-index: 1;
            right: 50px;
            justify-content: space-between;
               

            span{
                display: none;
            }

            .action-container{
                padding: 0.1rem !important;
                border-radius: 50% !important;
                background-color: $backgroundClr;
                box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 10%);
                aspect-ratio: 1/1;

                img {
                    padding-right: 0 !important;
                }
    
                .share-img, .save-img{
                    height: 14px !important;                
                }

                .back-img{
                    width: 22px;
                    height: 14px;
                    display: flex !important;
                }



            }

        }

        .reviews-stats-container {
            grid-template-columns: 1fr;

        }
        .stay-display-info{
            padding-top: 0;
            grid-template-columns: 1fr;
        }

        
        .add-review-container{
            display:none;
        }
    }

}

