.stay-details-page{
    
    .details-img-container{
        display: grid;
        gap: 9px;
        grid-template-columns:repeat(4,20vw);
        grid-template-rows:repeat(2,20vw);
        grid-template-areas: 
        "img1" "img1" "img2" "img3"
        "img1" "img1" "img4" "img5"
        ;
        .img1{
            grid-area: "img1";
        }
        .img2{
            grid-area:"img2";
        }
        .img3{
            grid-area: "img3";
        }
        .img4{
            grid-area: "img4";
        }
        .img5{
            grid-area: "img5";
        }
    }
}

    
    