.bqyzQp {
    .bghjHX {
        margin: 0 20px 0 0;
    }
}

.sc-bdVaJa .etbmwA {
    .sc-bwzfXH .bhRnqO {
        position: absolute;
        top: calc(50% - 17.5px);
        height: 28px;
        width: 28px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 3px 0 #0009;
        z-index: 10;
        cursor: pointer;
        font-size: 10px;
        opacity: 0.6;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        left: initial;
        right: 5px;

        &::before {
            height: 8px;
            width: 8px;
        }
    }
}

.sc-dnqmqq .bVoXXg {
    max-width: fit-content;
}

.tjQrB {
    justify-items: center;
}

// .bhRnqO,
// .kVtMtA {
//     height: 28px;
//     width: 28px;

//     border: 1px solid $subtext;
//     box-shadow: unset;

//     &:hover {
//         box-shadow: 0 0 5px 0 #0009;
//     }

// }



// .sc-bdVaJa .etbmwA {

//     span .bhRnqO::before {
//         height: 7px;
//         width: 7px;


//     }
// }