.categories-container {
    justify-items: baseline;
    z-index: 100;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(9%, 1fr));
    width: 90%;
    justify-items: center;
    height: fit-content;
    margin-top: 5px;


    .category-container {
        height:78px;
        opacity: 0.6;
        margin: 0;
        cursor: pointer;

        &:hover {
            opacity: 1;
            box-shadow: inset 0px -2.7px 0 #d3c9c9;
        }

        &.active {
            box-shadow: inset 0px -2.7px 0 rgba(0, 0, 0, 0.932);
            opacity: 1;
        }


    }

    .category-img {
        height: 24px;
        width: 24px;
        max-width: 100%;
        margin: 0 auto;
    }

    p {
        font-size: 0.85rem;
        margin: 0;
        font-weight: 700;
    }
}