.stay-preview {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: rem(15px);

    .preview-img {
        border-radius: 12px;
        // aspect-ratio: 1;
        height: rem(305.7px);
        object-fit: cover;
    }

    .preview-details-container {
        display: grid;
        grid-template-columns: 70% 30%;
        line-height: rem(1.6px);


        *:not(.preview-rating) {
            grid-column: 1;
        }

        *:not(.preview-rating, .star-svg, .preview-country-city) {
            margin-top: rem(3px);
        }

        .preview-rating-container {
            width: rem(40px);
            grid-column: 2;
            grid-row: 1;
            justify-self: flex-end;
        }

        .preview-country-city {
            font-weight: 600;
        }

        .preview-room-type,
        .preview-beds {
            color: $subtext;
        }

        .preview-price {
            margin-top: rem(10px);
        }

        .star-svg {
            height: rem(14px);
        }
    }

}