.stay-preview {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: rem(15px);

    .preview-imgs-container {
        display: grid;
        grid-template-columns: 85% 1fr;
        grid-template-rows: 14% 1fr;

        .carousel-component {
            border-radius: 12px;
            // aspect-ratio: 1;
            height: rem(305.7px);
            object-fit: cover;
            grid-column: 1/-1;
            grid-row: 1/-1;
        }

        .heart-svg {
            height: 24px;
            grid-column: -1/2;
            grid-row: 1;
            z-index: 20;
            // color: $subtext;
            align-self: flex-end;
            filter: opacity(0.5);

            &.active {
                // fill: #f8385c;
                filter: invert(29%) sepia(64%) saturate(2726%) hue-rotate(331deg) brightness(103%) contrast(95%) opacity(1);
            }
        }

    }

    .preview-details-container {
        display: grid;
        grid-template-columns: 70% 30%;
        line-height: rem(1.6px);
        
        h4{
            margin-top: 15px;
            margin-bottom: 7px;
            font-size: 16px;
        }

        *:not(.preview-rating) {
            grid-column: 1;
        }

        *:not(.preview-rating, .star-svg, .preview-country-city) {
            margin-top: rem(3px);
        }

        .preview-rating-container {
            // width: rem(40px);
            grid-column: 2;
            grid-row: 1;
            justify-self: flex-end;
            width: 40%;
        }

        .preview-country-city {
            line-height: 19px;
            // font-weight: 600;
            // font-family: 'cereal-medium';
        }

        .preview-room-type,
        .preview-beds {
            color: $subtext;
        }

        .preview-price {
            margin-top: rem(10px);
        }

        .star-svg {
            height: rem(14px);
        }
    }

}