.stay-filter {
    .modal-head-container {
        min-height: 64px;
    }

    .close-modal-btn {
        left: 15px;
        position: absolute;
        width: 18px;
        text-align: left;
        width: 32px;
        height: 32px;
        border-radius: 50%;

        &:hover {
            background-color: $footer;
        }

        .close-modal-img {
            transform: translate(10%, 10%);
            width: 17px;
            height: 17px;
        }
    }

    .modal-title {
        margin: 0 auto;
        text-align: center;
        font-size: rem(16px);
    }

    .filter-form {
        border-top: 1px solid rgb(235, 235, 235);
        padding: rem(30px);
        overflow-y: scroll;
        max-height: 60vh;

        .form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }

        .span {
            margin-left: 21px;
            color: $subtext;
        }

        .filter-type {
            .css-k008qs {
                width: 100%;

                .css-1vgzwi7-MuiFormControl-root {
                    width: 100%;

                    .css-dmmspl-MuiFormGroup-root {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;

                        .css-ahj2mt-MuiTypography-root {
                            font-family: manrope-light;
                        }
                    }
                }
            }
        }

        & .filter-type:not(:first-child) {
            border-top: 1px solid rgb(235, 235, 235);
            margin-bottom: 2em;
            margin-top: 2em;
        }

        h2 {
            margin-bottom: 1em;
            margin-top: 1em;
        }

        p {
            margin: 0
        }
    }

    /* Black w/ opacity */
    .filter-modal {
        animation-name: filter-modal;
        animation-duration: 10s;
        z-index: 1000;
        position: fixed;
        width: 50%;
        left: 50%;
        transform: translate(-50%, -36%);
        background: #FEFEFE;
        border-radius: 10px;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-fill-mode: both;

        .filter-footer {
            border-top: 1px solid rgb(235, 235, 235);
            padding: 5px;

            p {
                text-decoration: underline;
                font-weight: 500;
                cursor: pointer;
            }

            button {
                background-color: $secondary;
                color: $backgroundClr;
                margin-top: 5px;
                margin-inline-end: 10px;
                padding: 16px 28px;
                border-radius: 10px;

                &:hover {
                    background-color: $secondary;
                }
            }

            @keyframes filter-modal {
                0% {
                    bottom: -400vh;
                }

                100% {
                    bottom: -10vh;
                }
            }
        }

        .filter-form-btn {
            border: 1px solid $border;
            margin-top: rem(5px);
            margin-inline-end: rem(10px);
            padding: rem(16px) rem(28px);
            border-radius: rem(25px);

            &:hover {
                border: 1px solid $secondary;
            }

            &.active {
                background-color: $secondary;
                color: $backgroundClr;
                border: unset;
            }
        }
    }

}
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        overflow-y: hidden;
        z-index: 500;

        &.header-open {
            // top: rem(165px);
            top: 165px;
        }

        &.guest-open {
            background-color: unset;
        }
    }