.stay-preview {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 15px;

    .preview-img {
        border-radius: 12px;
        // aspect-ratio: 1;
        height: 305.7px;
        object-fit: cover;
    }

    .preview-details-container {
        display: grid;
        grid-template-columns: 70% 30%;
        line-height: 0.1rem;


        *:not(.preview-rating) {
            grid-column: 1;
        }

        *:not(.preview-rating, .preview-country-city) {
            margin-top: 3px;
        }

        .preview-rating-container {
            width: 40px;
            grid-column: 2;
            grid-row: 1;
            justify-self: flex-end;

            // .preview-rating {}
        }

        .preview-country-city {
            // .price-span {
            // font-family: manrope-bold;
            // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            //     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: 600;
        }

        .preview-room-type,
        .preview-beds {
            color: $subtext;
        }

        .preview-price {
            margin-top: 10px;
        }

        .star-svg {
            height: 14px;
            width: 14px;
        }
    }

}