.app-header {

    position: fixed;
    height: 20vh;
    width: 100%;
    background-color: unset;
    transition: background-color 0.6s;
    z-index: 10;


    .header-container {


        .header-content-container {
            height: 80px;

            h2 {
                color: $primary;
                margin: 0;
            }

            a {
                color: white;
            }
        }
    }

    &.close {
        height: unset;
        background-color: white;

        .header-content-container {
            a {
                color:inherit;

            }
        }
    }
}