.app-header {
    position: fixed;
    height: 193px;
    width: 100%;
    background-color: unset;
    z-index: 10000;
    transition: 1s;

    .header-container {
        // height: 85px;

        .header-content-container {

            display: relative;

            >:first-child {
                width: 300px;
            }

            height: 80px;


            // .box {
            //     flex: 1;
            //     display: flex;
            //     justify-content: center;
            //   }

            //   .box:first-child > { margin-right: auto; }

            //   .box:last-child  >  { margin-left: auto;  }

            .user-nav-container {
                width: 300px;

                .user-details-container {
                    width: 77px;
                    height: 42px;
                    border: 1px solid $borderClr;
                    background-color: $backgroundClr;
                    padding-inline-start: 10px;
                    border-radius: 32px;
                    cursor: pointer;
                    transition: box-shadow 0.2s;

                    &:hover {
                        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
                    }

                    .user-avatar {
                        height: 30px;
                        flex-grow: 1;
                    }

                    .user-img {
                        // height: 38px;
                        // flex-grow: 1;
                        // border-radius: 50%;
                        // object-fit: cover;
                        // margin: 8px;
                        height: 34px;
                        flex-grow: 1;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 10px;
                    }

                    .user-menu {
                        height: 16px;

                    }

                    .user-options-container {
                        position: relative;
                        opacity: 0;
                        transform: translateX(500px);
                        // transition: transform 1s, opacity 0.5s;

                        &.open {
                            opacity: 1;
                            height: calc(50vh - 180px);
                            transform: translateX(3px);
                        }
                    }

                }

                .main-nav {
                    height: 42px;
                    gap: 5px;
                    min-width: fit-content;

                    a {
                        color: $backgroundClr;
                        padding: 12px 11px 5px 12px;
                        height: 100%;

                        &:hover {

                            color: $secondary;
                            border-radius: 32px;
                            border: 1px solid $borderClr;
                            background-color: rgba(235, 235, 235, 0.357);
                        }
                    }
                }

            }
        }
    }

    &.close {
        height: unset;
        background-color: $backgroundClr;

        .header-content-container {

            .user-nav-container {
                .main-nav {

                    a {
                        color: inherit;

                    }
                }
            }
        }
    }

    &.pages {

        height: 19vh;
        border-bottom: 1px solid $borderClr;

        background-color: $backgroundClr;

        .header-content-container {

            a {
                color: $secondary;

            }
        }

        &.close {
            height: unset;

            .header-content-container {

                a {
                    color: inherit;

                }
            }
        }
    }
}