.app-footer {
    background-color: $footer;
    bottom: 0;
    width: 100%;
    // position: static;
    box-shadow: inset 0 0.5px 0 0 $border;
    z-index: 50;

    &.explore-page {
        position: fixed;
    }

    .footer-content {
        padding: 13px 0 14px;
    }

    .details-page-footer-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: flex-start;

    }

    .language-icon {
        height: 14px;
    }

    .footer-right-side,
    .footer-left-side {
        width: 300px;
        line-height: 18px;
    }

    .footer-left-side {
        font-weight: 500;
    }

}