.app-header {

    position: fixed;
    height: 193px;
    width: 100%;
    background-color: unset;
    z-index: 10000;
    transition:  1s;
    
    
    .header-container {
        height: 85px;
        .header-content-container {

            height: 80px;

            h2 {
                color: $primary;
                margin: 0;
            }

            a {
                color: $backgroundClr;
            }
        }
    }

    &.close {
        height: unset;
        background-color: $backgroundClr;

        .header-content-container {

            a {
                color: inherit;

            }
        }
    }

    &.pages {
        
        background-color: $backgroundClr;
        .header-content-container {
           
            a {
                color: $secondary;

            }
        }
        
        &.close {
            height: unset;

            .header-content-container {

                a {
                    color: inherit;

                }
            }
        }
    }
}