.stay-search-expand {
    border: 1px solid $borderClr;
    background-color: $backgroundClr;
    align-self: center;
    justify-self: center;
    width: 850px;
    height: 66px;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    padding: 8px 15px;

    >*:not(:nth-child(2)) {
        flex-grow: 1;
    }
    :nth-child(2){
        flex-grow: 1.5;
        
    }

    >*:not(:last-child) {
        border-inline-end: 1px solid $borderClr;
    }



    .search-guest-expand {

        // .search-guest-btn{
        //     flex-grow: 1;
        // }

        .btn-search-expand-container {
            
            .src-btn-expand-container {
                background-color: $primary;
                width: 111px;
                height: 48px;
                border-radius: 24px;
                background-color: $primary;

                &::before{
                    content:"Search";
                    will-change: opacity;
                    color: white;
                    background-image: url(../../svg/searchsvg.svg);
                    background-repeat: no-repeat;
                    background-position: -10px;
                }


                .src-span {
                    position: absolute ;
                    top: 0px ;
                    left: 0px ;
                    right: 0px ;
                    bottom: 0px ;
                    width: 100% ;
                    height: 100%;
                }


                // border-radius: 24px;
                // height: 100%;
                // width: 100%;
                // background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
                // --mouse-x: 54.625;
                // --mouse-y: 85.4167;

                // background-size: 200% 200% ;
                // opacity: 0 ;
                // transition: opacity 1.25s ease 0s ;
                // background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;

                // &:hover{
                //     opacity: 1;
                // }
            }
        }

        // .src-btn-container{

        //     background-color: $primary;
        //     width: 111px;
        //     height: 48px;
        //     border-radius: 24px;
        //     background-color: $primary;
        //     .search-btn-expand {
        //         border-radius: 24px;
        //         height: 100%;
        //         width: 100%;
        //         background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        //         --mouse-x: 54.625;
        //         --mouse-y: 85.4167;

        //         background-size: 200% 200% ;
        //         opacity: 0 ;
        //         transition: opacity 1.25s ease 0s ;
        //         background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;

        //         &:hover{
        //             opacity: 1;
        //         }
        //     }
        // }
    }



    transition: box-shadow 0.2s ease;
}