.stay-search-expand {

    position: absolute;
    left: calc(50% + $layoutPadding);
    transform: translate((calc(-50% - (1.5*$layoutPadding)),11vh));
    opacity: 1;
    transition: transform  0.2s, opacity 0.5s;

    &.close {
        transform: translate((calc(-50% - (1.5*$layoutPadding))), 8px) scale(0.4, 0.8);
        opacity: 0;
        
    }


    .stay-search-expand-container {


        border: 1px solid $borderClr;
        background-color: $footer;
        align-self: center;
        justify-self: center;
        width: 850px;
        height: 66px;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        
        // padding: 8px 15px;

        .search-modal {
            position: absolute;
            left: -23px;
            top: 12px;
            // top:100%;
            opacity: 1;
            z-index: 510;
            margin-top: 20px;
            // height: 245px;
            max-height: calc(100vh - 150px);
            min-height: calc(50vh - 150px);
            width: 486px;
            border-radius: 32px;
            background-color: $backgroundClr;
            margin-top: 12px;
            padding: 16px 32px;
            
            box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);

            &.country-container {
                >:first-child {
                    // font-family: circular-book;
                    font-family: cereal-medium;
                    margin-bottom: 28px;
                    margin-inline-start: 16px;
                }
            }

            &.guest-container {
                top: 65px;
                left: -127px;
                width: 406px;
                // padding: 34px 32px;
                padding: 16px 32px;
                font-size: 1rem;

            }

        }

        .search-location-expand {

            &.open {
                background-color: $backgroundClr;
                border-radius: 40px;
                flex-grow: 0.6;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
            }
        }

        .search-date-expand{

            // .css-1ozefeb{

            //     .MuiPaper-root{

            //         &.MuiPaper-elevation{

            //             &.MuiPaper-rounded{

            //                 &.MuiPaper-elevation8{

            //                     &.css-1smlk3z-MuiPaper-root{
            //                         border-radius: 32px !important;
            //                     }
            //                 } 
            //             } 
            //         } 
            //     } 
            // }

            &.open {
                padding: 0;
                height: 100%;
                // background-color: $backgroundClr;
                // border-radius: 40px;
                // flex-grow: 0.6;
                // box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
            }
        }


        .search-label{
            font-family: cereal-medium;
            margin-left: 1px;
        }
        
        input {
            border: unset;
            background-color: unset;
            width: 100%;

            &:focus-visible {
                outline: unset;
            }

        }

        >* {
            cursor: pointer;

            &:hover {
                background-color: $hoover;
                border-radius: 40px;

            }

            &.open {
                background-color: $backgroundClr;
                border-radius: 40px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
            }
        }

        >*:not(:nth-child(2)) {
            flex-grow: 1;
        }


        >:nth-child(2) {
            flex-grow: 2.5;

        }

        >:last-child {
            padding: 8px 0;
            padding-inline-start: 24px;
            padding-inline-end: 8px;

        }

        >*:not(:last-child) {
            border-inline-end: 1px solid $borderClr;
            padding: 14px 30px;
        }

        .search-guest-expand {
            position: relative;

            .search-btn-container {

                &.src-btn-small-expand {
                    width: 48px;

                    .content {
                        padding: 13px;
                        aspect-ratio: 1;
                        width: 48px;
                        border-radius: 50%;
                    }
                }

                &.src-btn-big-expand {
                    width: 111px;

                    .content {
                        height: 48px;
                        border-radius: 24px;
                        color: $backgroundClr;
                        padding: 0 10px;
                        gap: 10px;
                        font-size: rem(18px);
                    }

                    .action-btn {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            flex-grow: 1;

                            &::before {
                                content: "Search"
                            }
                        }

                        img {
                            height: 40%;
                        }
                    }
                }




            }

        }
    }
}

.css-1ozefeb{

    .MuiPaper-root{

        &.MuiPaper-elevation{

            &.MuiPaper-rounded{

                &.MuiPaper-elevation8{

                    &.css-1smlk3z-MuiPaper-root{
                        border-radius: 32px ;
                        margin-top:14px;
                    }
                } 
            } 
        } 
    }  

}