.stay-search-expand {

    justify-self: center;

    .stay-search-expand-container {


        border: 1px solid $borderClr;
        background-color: #f7f7f7;
        align-self: center;
        justify-self: center;
        width: 850px;
        height: 66px;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        // padding: 8px 15px;

        .search-location-expand {

            &.open {
                background-color: $backgroundClr;
                border-radius: 40px;
                flex-grow: 0.6;
                box-shadow:rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
            }
        }
     


        input {
            border: unset;
            background-color: unset;
            width: 100%;

            &:focus-visible {
                outline: unset;
            }

        }

        >* {
            cursor: pointer;

            &:hover {
                background-color: $hoover;
                border-radius: 40px;
                
            }

            &.open {
                background-color: $backgroundClr;
                border-radius: 40px;
                box-shadow:rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
            }
        }

        >*:not(:nth-child(2)) {
            flex-grow: 1;
        }


        >:nth-child(2) {
            flex-grow: 2.5;

        }

        >:last-child {
            padding: 8px 0;
            padding-inline-start: 24px;
            padding-inline-end: 8px;

        }

        >*:not(:last-child) {
            border-inline-end: 1px solid $borderClr;
            padding: 14px 24px;
        }

        .search-guest-expand {

            .search-btn-container {

                &.src-btn-small-expand {
                    width: 48px;

                    .content {
                        padding: 13px;
                        aspect-ratio: 1;
                        width: 48px;
                        border-radius: 50%;
                    }
                }

                &.src-btn-big-expand {
                    width: 111px;

                    .content {
                        height: 48px;
                        border-radius: 24px;
                        color: $backgroundClr;
                        padding: 0 10px;
                        gap: 10px;
                        font-size: rem(18px);
                    }

                    .action-btn {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            flex-grow: 1;

                            &::before {
                                content: "Search"
                            }
                        }

                        img {
                            height: 40%;
                        }
                    }
                }




            }

        }
    }
}