// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

.capital {
    text-transform: capitalize;
}

// flex helpers
.flex {

    display: flex;

    .gap-5 {
        gap: 5px;
    }

    .gap-8 {
        gap: 8px;
    }

    >*.full {
        flex: 1;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.direction-column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }
}

.display-none {
    display: none;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.price-span {
    font-family: cereal-medium;
    font-size: rem(15px);
    // font-weight: 500;
}

.full-width {
    width: 100%
}