.reservation-header-container{
    width: 300px;
    justify-content: flex-end;
    gap:15px;

    .btn-container{
        width:108px;
        height: 48px;
    }

    .stay-reserve-price {
    margin-top: 0;
    margin-bottom: 0;

}

.preview-rating {
    gap: 0.3em;
    align-items: center;
    font-size: rem(12px);
    font-family: cereal-medium;

    span {
        color: $subtext;
        font-family: cereal-medium;
        text-decoration: underline;
    }
}

.price-span {
    font-size: rem(18px);
}

img {
    height: 13px;
    align-items: center;
}
}