.dashboard-reservations {
    h2 {
        margin-bottom: 3rem;
    }

    .reservation-status-table-head {
        font-family: cereal-medium;
        font-size: 1rem;
        margin-inline-start: 1rem;

        &.approved {
            color: $sucsess;
        }

        &.declined {
            color: $danger;
        }

        &.pending {
            color: $pending;
        }
    }
}