.dashboard-header {

    cursor: pointer;
    position:relative;
    top: 0px;
    background-color: $backgroundClr;
    margin-bottom: 1.6rem;

    .user-details-container {
        height: 42px;
        // border: 1px solid $borderClr;
        background-color: $backgroundClr;
        border-radius: 50%;
        cursor: pointer;
        transition: box-shadow 0.2s;

        &:hover {
            box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        }

        .user-avatar {
            height: 30px;
            flex-grow: 1;
        }

        .user-img {
            
            height: 34px;
            flex-grow: 1;
            border-radius: 50%;
            object-fit: cover;
            // margin: 10px;
            // margin-top:14px;
        }

        .user-menu {
            height: 1rem;
            // height: fit-content;

        }

        .user-options-container {
            position: relative;
            opacity: 0;
            transform: translateX(500px);
            z-index: 1000;

            &.open {
                opacity: 1;
                height: calc(50vh - 180px);
                transform: translateX(3px);
            }
        }

    }

    .host-img {
        height: 34px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        margin: 10px;
    }

    .header-content-container {
        padding: 14px 0px
    }

    .dashboard-page-nav {

        .dashboard-link-title{
            font-family: cereal-medium;
        }
        >* {
            padding: 10px 16px;
            display: inline-block;

            a {

                position: relative;

                .after-container {
                    &::before {
                        content: "⎯";
                        bottom: 0px;
                        height: 2px;
                        left: 50%;
                        margin-left: -9px;
                        position: absolute;

                    }
                }
            }

            
            // &:hover{
            //     border-bottom: 1px solid $secondary
            // }
            &:hover {
                border-radius: 40px;
                background-color: rgba(235, 235, 235, 0.357);

            }
        }
    }
}


// .new-info-indicator {
//     position: absolute;
//     z-index: 1;
//     cursor: pointer;
//     height: 10px;
//     min-width: 10px;
//     top: 2px;
//     right: 4px;
//     box-shadow: 0 0 0 1.5px $backgroundClr;
//     background-color: $primary;
//     border-radius: 50%;
// }