$primary: rgb(248, 56, 92);
$secondary: rgb(34, 34, 34);
$subtext: rgb(113, 113, 113);
$footer: rgb(247, 247, 247);
$backgroundClr: rgb(255, 255, 255);
$borderClr: rgba(221, 221, 221, 0.717);
$border: rgb(221, 221, 221);
$hoover: rgb(235 235 235);
$btnBorderClr: rgb(176, 176, 176);
$sucsess:rgb(48 210 92);


// LAYOUT
$layoutPadding: 80px;

// LAYOUT BREAKPOINTS
// $break-narrow: 1200px;
// $break-normal: 1360px;
$break-wide-details: 1220px;
$break-wide: 1625px;