.mobile-footer {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 13px 13px;
    background-color: $backgroundClr;
    border-top: 1px solid rgb(235, 235, 235);

    @include for-mobile-layout {
        display: block;
    }
}