.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 10vh;
    right: 280px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
    padding: 15px 20px;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    background-color: $secondary;
    color: $backgroundClr;
}

.user-msg {

    &.success {
        background-color: $sucsess;
    }

    &.danger {
        background-color: rgb(216, 59, 59);
    }

    &.reserved {
        background-color: $secondary;
        color: $backgroundClr;
        position: fixed;
        right: 160px;
        top: 85px;
        font-size: 1.15em;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        min-width: 17vw;

        &.user-msg button {
            font-size: 15px;
            margin: 0;
        }

        &.user-msg {
            border-radius: 5px;
        }
    }
}