.mobile-menu {
    .mobile-menu-elements-container {
        width: 100%;
        justify-content: space-around;

        img {
            height: 25px;
            width: 25px;
        }

        .user-img {
            border-radius: 50%;
            object-fit: cover;
        }

        .mobile-element-container {
            &.active {
                img {
                    filter: invert(38%) sepia(74%) saturate(4464%) hue-rotate(330deg) brightness(100%) contrast(95%);
                }

                .name {
                    font-weight: 600;
                }
            }
        }
    }
}