
.add-review-container{
    padding-top: em(32px);
    padding-bottom: em(32px);

    .review-rating-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    column-gap: 6rem;
        
    .review-rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1.6rem;
    }
}
}



