.review {
    padding: 10px 0px;
    // flex-basis: 50%;
    padding-inline-end: rem(100px);
    color: $secondary;

    p {
        line-height: rem(24px);
        width: rem(500px);
        font-size: rem(16px);
    }

    .review-user-info {
        display: flex;
        gap: 10px;
        align-items: center;

        h4 {
            letter-spacing: 0.5px;
            line-height: 1.5rem;
            // font-size: em(26px);
            // padding-top: rem(22px);
            font-family: cereal-medium;
        }

        img {
            border-radius: 50%;
            height: rem(55px);
            object-fit: cover;
            width: rem(55px);

        }
    }

    & .review-date {
        font-size: rem(14px);
        color: $subtext;
    }
}