.review {
    padding: 10px 0px;
    padding-inline-end: rem(100px);
    color: $secondary;

    p {
        line-height: rem(24px);
        width: rem(500px);
        font-size: rem(16px);
    }

    .review-user-info {
        display: flex;
        gap: 10px;
        align-items: center;

        h4 {
            letter-spacing: 0.5px;
            line-height: 1.5rem;
            font-family: cereal-medium;
        }

        img {
            border-radius: 50%;
            height: rem(55px);
            object-fit: cover;
            width: rem(55px);

        }
    }

    & .review-date {
        font-size: rem(14px);
        color: $subtext;
    }

    @include for-mobile-layout {
        .review-user-info {
            h4 {
                font-size: 14px;
            }

            span {
                font-size: 11px !important;
            }
        }
    }
}