.stay-review {
    .reviews-stats-header {
        font-family: cereal-medium;
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        margin-top: rem(48px);
        margin-bottom: rem(36px);

        span:first-child:last-child {
            padding-right: 8px;
        }

        span {
            padding-right: 4px;
        }

        img {
            height: 20px;
        }
    }

    .reviews-stats-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10.5%;
        margin-bottom: 30px;
        padding: 5px;

        .reviews-stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .review-rates-container {
                gap: 4px;
                font-size: 14px;

                meter {
                    height: rem(14.5px);
                    width: 7rem;
                }

                meter::-webkit-meter-bar {
                    background: $border;
                }

                meter::-webkit-meter-optimum-value {
                    background: $secondary;
                }
            }
        }
    }

    @include for-mobile-layout {
        .reviews-stats-container {
            grid-template-columns: 1fr;
            font-size: 14px;
            gap: 4px 10.5%;
        }
    }
}