
.stay-review{
    .reviews-stats-header{
        display: flex;
        align-items: center;
        border-top: 1px solid $footer;
        padding: 30px;
    }
    .reviews-stats-container{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px 12px;
        margin-bottom: 30px;
        padding: 5px;


        .reviews-stats{
            display: flex;
            justify-content: space-between;
            margin-inline-end: 100px;
        }
        
        
    }
}




