.stay-reserve-container{
    .reserve-form-header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 100%;
    }
}