
.stay-review{




    .reviews-stats-header{
        display: flex;
        align-items: center;
        border-top: 1px solid $border;
        padding: 30px;
    }
    .reviews-stats-container{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px 12px;
        margin-bottom: 30px;
        padding: 5px;
        

 
        
        .reviews-stats{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            &:nth-child(odd){
                margin-inline-end: 70px;
            }

            &:nth-child(even){
                margin-inline-start: 70px;
            }

            .review-rates-container{
                gap: 4px;
                meter{
                    height: 0.9rem;
                    width: 7rem;
                }
                meter::-webkit-meter-bar {background:$border;} /*background color of bar*/
                meter::-webkit-meter-optimum-value {background:$secondary;}
            }
        }
        
        
    }
}




