.stay-info-container{

.stay-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    padding-bottom: 24px;

    img {
        border-radius: 50%;
        height: 56px;
        object-fit: cover;
        width: 56px;
        transform: scale(1.2);
        margin-top: rem(25px);
    }

    h2 {
        letter-spacing: 0.5px;
        margin-bottom: 8px;
        font-size: 25px;
        padding: 0;
        // font-family: 'cereal-medium';
    }

    span{
        font-size: 17px;
    }
}
}